.page-contacts {
  .views-row-last {
    .views-field {
      @include breakpoint($mobile){
        padding-right: 50px;
      }
      @include breakpoint($tablet){
        padding-right: 100px;
      }
      @include breakpoint($desktop){
        padding-right: 150px;
      }
      &.views-field-nothing {
        padding-right: initial;
      }
    }
  }
    .webform-client-form {
      .webform-component {
        &--name,
        &--email {
          @include breakpoint($mobile){
            @include span(16);
          }
          @include breakpoint($tablet){
            @include span(5);
          }
        }
        &--subject {
          @include breakpoint($mobile){
            @include span(16);
          }
          @include breakpoint($tablet){
            @include span(6 last);
          }
        }
      }
      div.form-actions input#edit-reset {
        margin-right: 10px;
        margin-bottom: 10px;
        webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background: #1fadff;
        border: none;
        border-radius: 0;
        box-shadow: none;
        color: white;
        display: inline-block;
        font: 700 14px/20px $text-font-family;
        outline: none;
        padding: 12px 70px 13px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0;
        &:hover {
            background: #343434;
            color: #fff;
            text-decoration: none;
        }
      }

    }
}
