.header-top {
    @include breakpoint($mobile) {
        .block-search-form {
            // left:50px;
            top: 80px;
            padding: 28px 28px 0px 28px;
            background-color: #e9e9e9;
            width: 96%;
            margin: auto;
            margin-top: 40px;
        }
        .block-block-2 {
            display: none;
        }
    }
    .form-submit {
        position: relative;
        width: 45px;
        height: 45px;
        padding: 0;
        border: none;
        text-indent: -9999px;
        z-index: 2;
        background: none;
        left: 259px;
        top: -47px;
        // left: 259px;
    }
    @include breakpoint($mobile) {
        .form-submit {
            left: 210px;
            top: -47px;
        }
    }
    @include breakpoint($tablet) {
        .form-submit {
            left: 259px;
            top: -47px;
        }
    }
    .form-actions:after {
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-family: FontAwesome;
        text-align: center;
        content: '\f002';
        font-size: 16px;
        line-height: 45px;
        width: 45px;
        font-weight: 400;
        color: #1fadff;
        z-index: 1;
        margin: 0;
        //top: 0;
        top: 30px;
        left: 290px;
        position: absolute;
    }
    @include breakpoint($mobile) {
        .form-actions:after {
            left: 249px;
            top: 67px;
        }
    }
    @include breakpoint($tablet) {
        .form-actions:after {
            left: 290px;
            top: 30px;
        }
    }
    #edit-actions--3 {
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
        top: -15px;
        right: 5px;
        width: 45px;
        height: 100px;
        display: block;
    }
    @include breakpoint($tablet) {
        .block-block-2 {
            display: block;
        }
    }
    #edit-search-block-form--2 {
        color: #bdbdbd !important;
        font-weight: 400 !important;
        background: #fff;
        width: 100%;
        height: 45px;
        font-size: 14px;
        line-height: 17px;
        box-sizing: border-box;
        padding: 13px 45px 15px 18px;
    }
    .form-item {
        width: 100%;
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    @include breakpoint($tablet) {
        .block-search-form {
            display: block;
            z-index: 29;
            position: absolute;
            top: 60px;
            width: 360px;
            padding: 28px 28px 0px 28px;
            overflow: hidden;
            left: -999px;
            -moz-transition: all 0.6s ease;
            -o-transition: all 0.6s ease;
            -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease;
        }
    }
    // .block-search-form{
    //     display:none;
    // }
    @include breakpoint($mobile) {
        .active {
            left: 0px;
            top: 0px;
        }
    }
    @include breakpoint($tablet) {
        .active {
            left: 80px;
            top: 80px;
        }
    }
}

.panels-flexible-region-31-center {
    float: left;
    width: 100%;
}

@include breakpoint($mobile) {
    #block-nice-menus-1 {
        display: none;
    }
    .block-block-5 {
        width: 90%;
        float: left;
        margin-left: 15px;
        .mobile {
            border: 1px solid #eaebef;
            border-radius: 10px;
            padding-left: 15px;
        }
    }
}

#nice-menu-1 > li > a:hover,
#nice-menu-1 > li.active-trail > a,
#nice-menu-1 > li.sfHover > a {
    color: #1fadff;
    text-decoration: none;
}

@include breakpoint($mobile) {
    #block-nice-menus-1 {
        li {
            float: left;
            width: 90%;
            margin-left: 15px;
            ul {
                li {
                    // float:left;
                    //width:80%;
                    margin-left: 25px;
                }
            }
        }
    }
}

@include breakpoint($tablet) {
    #block-nice-menus-1 {
        display: block;
    }
}

@include breakpoint($tablet) {
    .block-block-5 {
        display: none
    }
}

.block block-nice-menus {
    padding: 36px 0 0;
    float: right;
}

#nice-menu-1 {
    float: right;
    @include breakpoint($tablet) {
        li {
            width: auto;
            background: none;
            border: 0;
            font: 400 15px/20px $text-font-family;
            // margin: 0 0 0 62px;
            margin-left: 15px;
            overflow: inherit;
            padding: 0;
            text-transform: none;
        }
        @include breakpoint($desktop) {
            li {
                margin-left: 25px;
            }
        }
        li:hover {
            color: $blue;
        }
        li {
            ul {
                background: #e9e9e9;
                text-align: left;
                // display: none;
                // padding: 15px 0 11px;
                // top: 58px;
                // width: 140px !important;
            }
        }
    }
    @include breakpoint($widedesktop) {
        li {
            margin: 0 0 0 62px;
        }
    }
    li a {
        position: relative;
        color: #555;
        text-decoration: none;
    }
}


/*-----------flex slider-----------*/

.page-home .flexslider {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    overflow: hidden;
}
.page-home{
    @include breakpoint($mobile){
        #flexslider-1{
            height:150px;
        }
    }
    @include breakpoint($tablet){
        #flexslider-1{
            height:auto;
        }
    }
    .views-field-nothing{
        span{
            .container-12{
                position: absolute;
                text-align: center;
            }
            @include breakpoint($mobile){
                .container-12{
                    margin-top: -43px;
                    width: 94%;
                    left: 3%;
                }
            }
            @include breakpoint($tablet){
                .container-12{
                    width:96%;
                    margin-left:-1%;
                    margin-top:-164px
                }
            }
            @include breakpoint($desktop){
                .container-12{

                    margin-top:-204px
                }
            }
            @include breakpoint($widedesktop){
                .container-12{
                    width: 1200px;
                    margin: auto;
                    margin-left: 8.5%;
                    margin-top: -275px;
                    position: absolute;
                    text-align: center;
                }
            }
        }
    }

    .inner {
        background: #333333;
        padding: 36px 50px 39px;
    }
    @include breakpoint($mobile){
     .inner   a{
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 5px;
            font-weight: 900;
            color: #fff;
            margin-bottom: 0;
        }
    }

    @include breakpoint($desktop){
        .inner a{
            font-size: 30px;
            line-height: 30px;
            letter-spacing: 5px;
        }
    }
    @include breakpoint($widedesktop){
        .inner a{
            font-size: 50px;
            line-height: 50px;
            letter-spacing: 14px;
        }
    }

     .inner a:hover{
        color:$blue
     }

    @include breakpoint($mobile){
        .inner{
        padding: 15px 0px;
    }
    }
    @include breakpoint($tablet){
        .inner{
        padding: 15px 20px;
    }
    }
    @include breakpoint($widedesktop){
        .inner{
         padding: 36px 50px 39px;
        }
    }
}


/*-------static block----------*/

@include breakpoint($mobile) {
    .page-home .pane-static {
        width: 96%;
        margin: auto;
    }
}

@include breakpoint($mobile) {
    .page-home .pane-static {
        max-width: 1200px;
        margin: auto;
    }
}

.page-home .pane-content .view-id-static {
    border: 1px solid #eaebef;
    padding: 58px 10px 0;
    margin-bottom: 30px;
    text-align: center;
    h2 {
        margin-bottom: 63px;
    }
    @include breakpoint($mobile) {
        p {
            margin-bottom: 0;
            padding: 0;
        }
        .views-field-nothing {
            margin-bottom: 90px;
        }
    }
    @include breakpoint($tablet) {
        p {
            margin-bottom: 90px;
            padding: 0 50px;
        }
    }
    @include breakpoint($desktop) {
        p {
            margin-bottom: 90px;
            padding: 0 190px;
        }
    }
    .views-field-nothing-1 {
        padding-top: 68px;
        margin-bottom: -21px;
    }
    @include breakpoint($tablet) {
        .clearfix {
            position: relative;
            color: #343434;
            //@include three-column-block;
        }
    }
    @include breakpoint($mobile) {
        .col-1-3 {
            float: none;
            margin-bottom: 3em;
            margin-right: 0;
            width: auto;
        }
    }
    @include breakpoint($tablet) {
        .col-1-3 {
            width: 30.66%;
            float: left;
            margin-bottom: 2em;
            margin-right: 4%;
        }
    }
    @include breakpoint($mobile) {
        .clearfix .col-1-3 .fa {
            display: block;
            text-align: left;
            font-size: 58px;
        }
    }
    @include breakpoint($tablet) {
        .clearfix .col-1-3 .fa {
            display: inline-block;
            font-size: 58px;
            line-height: 58px;
            width: 95px;
            text-align: left;
            margin: 0;
            float: none;
        }
    }
    @include breakpoint($mobile) {
        .counter {
            display: block;
        }
    }
    @include breakpoint($tablet) {
        .counter {
            text-align: left;
            display: inline-block;
        }
    }
    .counter .num {
        text-align: left;
        font-size: 50px;
        line-height: 50px;
        font-weight: 900;
        letter-spacing: 15px;
        margin-bottom: 4px;
    }
    .counter .title {
        letter-spacing: 2px;
        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
        text-align: left;
    }
    .col-last {
        margin-right: 0;
    }
    .clearfix .col-1-3 .fa:before {
        position: relative;
        top: -13px;
    }
}


/*------------gallery block------------*/

.pane-gallery-menu {
    padding: 46px 0;
}


/*-----------slider 2-------------------*/

.pane-slideshow {
    .view-display-id-block_1 {
        width: 1440px;
        margin-left: -720px;
        left: 50%;
        bottom: 0;
        height: 100%;
        left: 0;
        overflow: hidden;
        right: 0;
        top: 0;
        height: 702px;
        background-attachment: fixed;
        margin-left: 0px;
        top: 2px;
        background-image: url("../images/parallax-one.jpg");
        background-size: cover;
    }
}

@include breakpoint($mobile) {
    #flexslider-2 {
        a {
            color: #fff;
        }
        padding: 130px 0px 80px;
        text-align: center;
        color: #fff;
    }
}

@include breakpoint($desktop) {
    #flexslider-2 {
        padding: 130px 180px 80px;
    }
}

.views-field-field-testimonial-image {
    width: 87px;
    margin-bottom: 37px;
    display: inline-block;
}

.view-display-id-block_1 {
    .flexslider {
        img {
            border-radius: 100px;
            width: 100%;
            display: block;
        }
    }
}

@include breakpoint($desktop) {
    .view-display-id-block_1 {
        .view-content {
            width: 100%;
            margin: 0 auto;
        }
    }
}

@include breakpoint($mobile) {
    .pane-slideshow {
        .view-display-id-block_1 {
            width: 100%;
            height: auto;
        }
    }
}

@include breakpoint($desktop) {
    .pane-slideshow {
        .view-display-id-block_1 {
            // width: 1440px;
            max-height: 500px;
        }
    }
    .flex-direction-nav {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .flex-prev {
        left: 50%;
        margin-left: -25px;
        background: url(../images/next.png) 0 0 no-repeat;
        margin-right: 20px;
    }
    .flex-next {
        right: 50%;
        margin-right: -25px;
        background: url(../images/prev.png) 0 0 no-repeat;
        margin-left: 20px;
    }
    .flex-direction-nav a {
        opacity: 1;
        display: block;
        bottom: 0;
        top: auto;
        width: 9px;
        height: 16px;
        text-indent: -9999px;
        margin: 0;
    }
}


/*----------polls--------------*/

.pane-poll-block {
    border: 1px solid #eaebef;
    padding: 58px 10px 0;
    margin-bottom: 30px;
}

.pane-poll-block {
    @include breakpoint($mobile) {
        .title {
            padding: 0;
            margin: 0;
        }
    }
    @include breakpoint($desktop) {
        .title {
            padding: 58px 190px;
            margin-bottom: 30px;
        }
        margin-bottom:60px;
    }
}

.bar {
    margin-top: 10px;
    margin-bottom: 12px;
}

.page-home {
    .total {
        display: none;
    }
}

.page-home {
    .poll {
        @include breakpoint($mobile) {
            padding: 0 0 10px;
        }
        @include breakpoint($desktop) {
            padding: 0 100px 30px;
        }
        .text {
            float: left;
            padding-right: 30px;
        }
        .bar {
            //width: 70%;
            background: #e0e0e0;
            margin-top: 10px;
            margin-bottom: 12px;
        }
        @include breakpoint($mobile) {
            .bar {
                height: 10px;
                .foreground {
                    height: 10px;
                }
            }
        }
    }
}

.page-home {
    .links {
        display: none;
    }
}

.pane-poll-block {
    @include home-three-column-block;
}

.poll .bar .foreground {
    background: #1fadff;
    //height: 9px;
}

// .poll .text,
// .poll .bar{
//   padding: 0 100px 30px;
// }

/*------------news-------------*/

@include breakpoint($tablet) {
    .pane-about-us {
        height: 329px;
        height: 400px;
    }
}

@include breakpoint($desktop) {
    .pane-about-us {
        height: auto;
    }
}

@include breakpoint($mobile) {
    .about-view-row {
        margin-bottom: 30px;
        position: relative;
        padding-bottom: 20px;
    }
}

@include breakpoint($mobile) {
    .views-row-last .about-title-wrapper {
        margin-left: 0px;
    }
}

@include breakpoint($mobile) {
    .views-row-odd {
        width: auto;
    }
}

.about-title-wrapper {
    padding-left: 28px;
    border-left: 2px solid #eaebef;
}

.page-home {
    .view-display-id-block_1 {
        @include two-column-block;
    }
}


/*------------video----------------*/

.page-home .pane-custom {
    p {
        margin: 0;
    }
    @include breakpoint($mobile) {
        .container-12 {
            width: 96%;
            margin: auto;
        }
    }
    @include breakpoint($widedesktop) {
        .container-12 {
            width: 1200px;
            margin: auto;
        }
    }
    @include breakpoint($mobile) {
        .region-parallax-two {
            padding: 80px 0 40px;
        }
    }
    @include breakpoint($desktop) {
        .region-parallax-two {
            padding: 200px 0 220px;
        }
    }
    .parallax_two_wrapper {
        // height: 500px;
        color: #fff;
        // padding: 220px 0 200px;
    }
    .parallax-bg {
        bottom: 0;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
}


/*------------web form------------*/

.page-home {
    .webform-client-form,
    .pane-webform-client-block-598,
    .pane-webform-client-block-205{
        background: #1fadff;
        padding: 50px 0 25px;
        color: #fff;
        align-content: center;
        text-align: center;
        // .webform-client-form{
        //     padding:0 482px;
        // }
        h2 {
            color: #fff;
        }
        @include breakpoint($tablet){
            .webform-component{
                input{
                    width:96%;
                    margin:auto;
                }
            }
            .webform-component--message{
                width:96%;
                margin:auto;
            }
        }
        @include breakpoint($desktop){
            .webform-component{
                input{
                    width:auto;
                }
            }
            .webform-component--message{
                width:auto;
                margin:auto;
            }
        }
        ::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            color: #FFF;
        }
        :-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #FFF;
            opacity: 1;
        }
        ::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #FFF;
            opacity: 1;
        }
        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #FFF;
        }
        h2:before,
        h2:after {
            background: #fff;
        }
        .form-item .webform-component .webform-component-textfield {
            float: none;
            width: 100%;
            margin: 0 0 16px !important;
        }
        @include breakpoint($mobile) {
            .webform-component-textarea {
                padding: 0;
            }
        }
        // @include breakpoint($desktop) {
        //     .webform-component-textarea {
        //         padding: 0 148px;
        //     }
        // }
        @include breakpoint($desktop) {
            .webform-component-textarea {
                padding: 0 275px;
            }
        }
        @include breakpoint($widedesktop) {
            .webform-component-textarea {
                vertical-align: middle;
                clear: both;
                padding: 0 482px;
            }
        }
        .form-text,
        .form-textarea {
            background: rgba(0, 0, 0, 0.06);
            color: #fff !important;
            border: none;
            font-size: 14px;
            line-height: 17px;
            padding: 14px 18px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .grippie {
            display: none;
        }
        .button-primary {
            background: #343434;
            color: #fff;
        }
        .button-primary:hover {
            background: #fff;
            color: #1fadff;
        }
    }
}

// .webform-client-form {
//       .webform-component {
//         &--name,
//         &--email {
//           @include breakpoint($mobile){
//             @include span(16);
//           }
//           @include breakpoint($tablet){
//             @include span(5);
//           }
//         }
//         &--subject {
//           @include breakpoint($mobile){
//             @include span(16);
//           }
//           @include breakpoint($tablet){
//             @include span(6 last);
//           }
//         }
//       }
//     }
//
