@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@font-face {
  font-family: 'FontAwesome';
  src: url("../../../../libraries/fontawesome/fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("../../../../libraries/fontawesome/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Makes border-box properties */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-wrapper > .header-top .region,
.page-wrapper > .header .region,
.page-wrapper > .content .region,
.page-wrapper > .footer .region {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.page-wrapper > .header-top .region:after,
.page-wrapper > .header .region:after,
.page-wrapper > .content .region:after,
.page-wrapper > .footer .region:after {
  content: " ";
  display: block;
  clear: both;
}

.page-home .content .region {
  max-width: 100%;
}
.page-home .content .region .pane-static, .page-home .content .region .pane-gallery-menu, .page-home .content .region .pane-poll-block, .page-home .content .region .pane-about-us, .page-home .content .region .pane-webform-client-block-205 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.page-home .content .region .pane-static:after, .page-home .content .region .pane-gallery-menu:after, .page-home .content .region .pane-poll-block:after, .page-home .content .region .pane-about-us:after, .page-home .content .region .pane-webform-client-block-205:after {
  content: " ";
  display: block;
  clear: both;
}

.page-about-us .content .region {
  max-width: 100%;
}
.page-about-us .content .region .block-system-main, .page-about-us .content .region .block-views {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.page-about-us .content .region .block-system-main:after, .page-about-us .content .region .block-views:after {
  content: " ";
  display: block;
  clear: both;
}

@media screen {
  .page-services .view-display-id-block_1 .view-content {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .page-services .view-display-id-block_1 .view-content {
    width: 87.34177%;
    float: left;
    margin-right: 1.26582%;
    float: none;
    margin-right: 0;
    margin: 0 auto;
  }
}
@media (min-width: 1025px) {
  .page-services .view-display-id-block_1 .view-content {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%;
    float: none;
    margin-right: 0;
    margin: 0 auto;
  }
}
@media screen {
  .page-services .view-display-id-block_1 .view-content .col-1-3 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .page-services .view-display-id-block_1 .view-content .col-1-3 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media screen {
  .page-services .view-display-id-block_1 .view-content .col-1-3.last {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .page-services .view-display-id-block_1 .view-content .col-1-3.last {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}

@media screen {
  .page-about-us .view-display-id-block_3 .view-content {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .page-about-us .view-display-id-block_3 .view-content {
    width: 87.34177%;
    float: left;
    margin-right: 1.26582%;
    float: none;
    margin-right: 0;
    margin: 0 auto;
  }
}
@media (min-width: 1025px) {
  .page-about-us .view-display-id-block_3 .view-content {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%;
    float: none;
    margin-right: 0;
    margin: 0 auto;
  }
}
@media screen {
  .page-about-us .view-display-id-block_3 .view-content .combine-awards {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .page-about-us .view-display-id-block_3 .view-content .combine-awards {
    width: 31.35593%;
    float: left;
    margin-right: 1.69492%;
  }
}

@media screen {
  .page-about-us .view-display-id-block_2 .views-row {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .page-about-us .view-display-id-block_2 .views-row {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
  }
}
@media screen {
  .page-about-us .view-display-id-block_2 .views-row-last {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .page-about-us .view-display-id-block_2 .views-row-last {
    width: 24.05063%;
    float: right;
    margin-right: 0;
  }
}

.about-view-image {
  padding: 0 240px;
}

.about-view-row {
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 20px;
}

/*------image--------*/
.block-block-1 {
  height: 702px;
  background-attachment: fixed;
  margin-left: 0px;
  top: 2px;
  background-image: url("../images/parallax-three.jpg");
}

.static-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: none;
  position: relative;
}

h2.title-1 {
  background: #333333;
  color: #fff;
  padding: 36px 50px 39px;
  font-size: 50px;
  line-height: 50px;
  font-weight: 900;
  letter-spacing: 3px;
  margin-bottom: 0;
  margin-top: 0;
}

.block-block-1 .container-12 {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.static-block-region {
  color: #fff;
  padding: 220px 0 200px;
}

.about-view-row {
  text-align: center;
}

.about-desc {
  padding: 0 240px;
}

.page-about-us .block-views-about-us-block-1 .views-row-odd {
  float: left;
  margin-right: 40px;
}

/*-----our advantages-----*/
.page-about-us .block-views-about-us-block-1 {
  padding: 33px 0;
  position: relative;
  padding-bottom: 20px;
}

.about-desc a, .about-title-wrapper a {
  color: #343434;
  font: bold 16px/26px 'Open Sans', sans-serif;
  margin-bottom: 5px;
}

.about-title-wrapper h6 {
  margin-top: 0;
}

.about-title-wrapper {
  padding-left: 28px;
  border-left: 2px solid #eaebef;
}

.views-row-last .about-title-wrapper {
  margin-left: 610px;
}

.view-blog .field-content {
  text-align: left;
  margin-top: 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.view-blog .field-content:after {
  content: " ";
  display: block;
  clear: both;
}

.view-blog .views-field-name,
.view-blog .views-field-created,
.view-blog .views-field-uid,
.view-blog .views-field-comment-count {
  font-family: "FontAwesome";
  display: inline-block;
}

.panels-flexible-region-38-categories {
  margin-left: 50px;
}

.view-blog .item-list {
  margin-top: 10px;
}

.view-blog .views-field-name .field-content:before {
  content: "\f007";
  color: #1fadff;
}

.view-blog .views-field-created .field-content:before {
  content: "\f073";
  color: #1fadff;
}

.view-blog .views-field-uid .field-content:before {
  content: "\f06e";
  color: #1fadff;
  margin-right: 5px;
}

.view-blog .views-field-comment-count .field-content:before {
  content: "\f075";
  color: #1fadff;
  margin-right: 5px;
}

.view-blog .views-field-title {
  text-align: left;
  margin-top: 15px;
}

.view-blog ul.pager li.first,
.view-blog ul.pager li.pager-item a,
.view-blog ul.pager li.pager-next a,
.view-blog ul.pager li.pager-last a {
  webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #1fadff;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: white;
  display: inline-block;
  font: 700 14px/20px 'Open Sans', sans-serif;
  outline: none;
  padding: 12px 16px 13px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
}

.panels-flexible-column {
  text-align: center;
}

.panels-flexible-column.panels-flexible-column-38-1.panels-flexible-column-last {
  margin-left: 150px;
}

.view-id-blog .views-field-body p {
  padding: 0;
}

.panels-flexible-column-38-main .panels-flexible-column-first {
  width: 60%;
}

.panels-flexible-column-38-1 .panels-flexible-column-last {
  width: 36%;
}

.view-blog .views-field .button a {
  padding: 12px 8px 13px;
  margin-top: 10px;
}

.view-id-blog .views-row .views-row-2 {
  padding-right: 0;
}

.pane-poll-recent .poll .text {
  text-align: left;
  width: 10%;
  float: none;
}

/*Common CSS for common elements having same CSS properties throught the site*/
.page-wrapper {
  overflow: hidden;
  background: #fff;
  color: #656565;
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  line-height: 26px;
  position: relative;
  letter-spacing: 2px;
}

h1 {
  color: #343434;
  font: 400 50px/50px 'Open Sans', sans-serif;
  margin-bottom: 34px;
}

h2 {
  text-align: center;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #343434;
  font: 900 30px/30px 'Open Sans', sans-serif;
  margin-bottom: 52px;
  position: relative;
}

h2:after,
h2:before {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 10px;
  position: relative;
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #343434;
  transform: translate(0, -150%);
  -moz-transform: translate(0, -150%);
  -ms-transform: translate(0, -150%);
  -o-transform: translate(0, -150%);
  -webkit-transform: translate(0, -150%);
}

h2:before {
  margin-right: 25px;
}

h2:after {
  margin-left: 25px;
}

h6 {
  color: #343434;
  font: bold 16px/26px 'Open Sans', sans-serif;
  margin-bottom: 5px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #1fadff;
  text-decoration: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #1fadff;
  text-decoration: none;
}

p {
  margin-bottom: 26px;
}

.button a,
.about-desc a,
.button-primary,
a.button {
  webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #1fadff;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: white;
  display: inline-block;
  font: 700 14px/20px 'Open Sans', sans-serif;
  outline: none;
  padding: 12px 70px 13px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
}

.button a:hover,
.about-desc a:hover,
.button-primary:hover,
a.button:hover {
  background: #343434;
  color: #fff;
  text-decoration: none;
}

.view-main-gallery .item-list {
  background: none;
  text-align: center;
}
.view-main-gallery .item-list .isotope-options {
  display: inline-block;
  margin-bottom: 38px;
  text-align: center;
  border-bottom: 1px solid #eaebef;
  padding: 0 87px;
}
.view-main-gallery .item-list .isotope-options li {
  display: inline-block;
}
.view-main-gallery .item-list .isotope-options li a {
  text-decoration: none;
  color: black;
}
.view-main-gallery .item-list .isotope-options li a:hover {
  color: #1fadff;
  text-decoration: none;
}
.view-main-gallery .item-list .isotope-options li:hover {
  border-bottom: 1px solid #1fadff;
}

#isotope-container {
  margin-left: -15px;
  margin-right: -15px;
}

.galleryimage a {
  background: #000;
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}
.galleryimage a:hover img {
  opacity: .4;
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.galleryimage a:hover:after {
  color: #fff;
  content: "\f00e";
  font: 40px/40px FontAwesome;
  left: 50%;
  margin: -20px 0 0 -20px;
  position: absolute;
  top: 43%;
  z-index: 999;
}

.galleryimage img {
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  /* -webkit-transition: .2s ease; */
  /* transition: .2s ease; */
  width: 100%;
}

.view-gallery-menu .views-field-title,
.view-gallery-menu .views-field-body,
.view-gallery-menu .button {
  text-align: left;
  margin-top: 15px;
}

.view-gallery-menu .isotope-element .views-field .field-content {
  height: 60px;
}

.view-gallery-menu .isotope-element .button {
  margin-bottom: 20px;
}

.pane-gallery-menu .view-display-id-block_3 .item-list ul.isotope-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
.pane-gallery-menu .view-display-id-block_3 .item-list ul.isotope-container:after {
  content: " ";
  display: block;
  clear: both;
}
.pane-gallery-menu .view-display-id-block_3 .item-list ul.isotope-container li.isotope-element {
  margin: 0 0 0.25em 0;
  width: 32%;
  margin-right: 2%;
}
.pane-gallery-menu .view-display-id-block_3 .item-list ul.isotope-container li.isotope-element:nth-child(3n + 2) {
  margin-right: 0;
}

.pane-gallery-menu .view-display-id-block_2 .item-list ul.isotope-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
.pane-gallery-menu .view-display-id-block_2 .item-list ul.isotope-container:after {
  content: " ";
  display: block;
  clear: both;
}
.pane-gallery-menu .view-display-id-block_2 .item-list ul.isotope-container li.isotope-element {
  margin: 0 0 0.25em 0;
  width: 49%;
  margin-right: 2%;
}
.pane-gallery-menu .view-display-id-block_2 .item-list ul.isotope-container li.isotope-element:nth-child(2n + 4) {
  margin-right: 0;
}

.pane-gallery-menu .view-display-id-block_4 .item-list ul.isotope-container,
.pane-gallery-menu .view-display-id-block_1 .item-list ul.isotope-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
.pane-gallery-menu .view-display-id-block_4 .item-list ul.isotope-container:after,
.pane-gallery-menu .view-display-id-block_1 .item-list ul.isotope-container:after {
  content: " ";
  display: block;
  clear: both;
}
.pane-gallery-menu .view-display-id-block_4 .item-list ul.isotope-container li.isotope-element,
.pane-gallery-menu .view-display-id-block_1 .item-list ul.isotope-container li.isotope-element {
  margin: 0 0 0.25em 0;
  width: 23%;
  margin-right: 2.66%;
}
.pane-gallery-menu .view-display-id-block_4 .item-list ul.isotope-container li.isotope-element:nth-child(4n + 2),
.pane-gallery-menu .view-display-id-block_1 .item-list ul.isotope-container li.isotope-element:nth-child(4n + 2) {
  margin-right: 0;
}

.view-display-id-block_4 .galleryimage a,
.view-display-id-block_1 .galleryimage a {
  height: 270px;
}

.view-display-id-block_3 .galleryimage a {
  height: 220px;
}

.view-display-id-block_2 .galleryimage a {
  height: 480px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .page-gallery4 .page-wrapper {
    width: 778px;
    margin: auto;
  }

  .view-display-id-block_2 .galleryimage a,
  .view-display-id-block_4 .galleryimage a,
  .view-display-id-block_1 .galleryimage a,
  .view-display-id-block_3 .galleryimage a {
    height: 182px;
  }

  .pane-gallery-menu .view-display-id-block_4 .item-list ul.isotope-container,
  .pane-gallery-menu .view-display-id-block_1 .item-list ul.isotope-container,
  .pane-gallery-menu .view-display-id-block_2 .item-list ul.isotope-container {
    width: 748px;
  }
  .pane-gallery-menu .view-display-id-block_4 .item-list ul.isotope-container li.isotope-element,
  .pane-gallery-menu .view-display-id-block_1 .item-list ul.isotope-container li.isotope-element,
  .pane-gallery-menu .view-display-id-block_2 .item-list ul.isotope-container li.isotope-element {
    margin: 0 0 0.25em 0;
    width: 49%;
    margin-right: 2%;
  }
  .pane-gallery-menu .view-display-id-block_4 .item-list ul.isotope-container li.isotope-element:nth-child(2n + 4),
  .pane-gallery-menu .view-display-id-block_1 .item-list ul.isotope-container li.isotope-element:nth-child(2n + 4),
  .pane-gallery-menu .view-display-id-block_2 .item-list ul.isotope-container li.isotope-element:nth-child(2n + 4) {
    margin-right: 0;
  }

  .pane-gallery-menu .view-display-id-block_3 .item-list ul.isotope-container {
    width: 748px;
  }
  .pane-gallery-menu .view-display-id-block_3 .item-list ul.isotope-container li.isotope-element {
    margin: 0 0 0.25em 0;
    width: 49%;
    margin-right: 2%;
  }
  .pane-gallery-menu .view-display-id-block_3 .item-list ul.isotope-container li.isotope-element:nth-child(2n + 2) {
    margin-right: 0;
  }

  .view-gallery-menu .isotope-element .views-field.views-field-title {
    height: 52px;
  }

  .pane-gallery-menu .view-display-id-block_4 .galleryimage img,
  .pane-gallery-menu .view-display-id-block_1 .galleryimage img,
  .pane-gallery-menu .view-display-id-block_2 .galleryimage img,
  .pane-gallery-menu .view-display-id-block_3 .galleryimage img {
    height: 182px;
  }
}
@media screen and (max-width: 767px) and (min-width: 380px) {
  .view-main-gallery .item-list {
    background: none;
    text-align: right;
  }
  .view-main-gallery .item-list .isotope-options {
    width: 167px;
    padding: 20px;
    border: 0;
    text-align: right;
  }

  .page-gallery4 .page-wrapper {
    width: 425px;
    margin: auto;
  }

  .view-display-id-block_2 .galleryimage a,
  .view-display-id-block_4 .galleryimage a,
  .view-display-id-block_1 .galleryimage a,
  .view-display-id-block_3 .galleryimage a {
    width: 182px;
    height: 105px;
  }

  .pane-gallery-menu .view-display-id-block_4 .item-list ul.isotope-container,
  .pane-gallery-menu .view-display-id-block_1 .item-list ul.isotope-container,
  .pane-gallery-menu .view-display-id-block_2 .item-list ul.isotope-container {
    width: 395px;
  }
  .pane-gallery-menu .view-display-id-block_4 .item-list ul.isotope-container li.isotope-element,
  .pane-gallery-menu .view-display-id-block_1 .item-list ul.isotope-container li.isotope-element,
  .pane-gallery-menu .view-display-id-block_2 .item-list ul.isotope-container li.isotope-element {
    margin: 0 0 0.25em 0;
    width: 49%;
    margin-right: 2%;
  }
  .pane-gallery-menu .view-display-id-block_4 .item-list ul.isotope-container li.isotope-element:nth-child(2n + 4),
  .pane-gallery-menu .view-display-id-block_1 .item-list ul.isotope-container li.isotope-element:nth-child(2n + 4),
  .pane-gallery-menu .view-display-id-block_2 .item-list ul.isotope-container li.isotope-element:nth-child(2n + 4) {
    margin-right: 0;
  }

  .pane-gallery-menu .view-display-id-block_3 .item-list ul.isotope-container {
    width: 395px;
  }
  .pane-gallery-menu .view-display-id-block_3 .item-list ul.isotope-container li.isotope-element {
    margin: 0 0 0.25em 0;
    width: 49%;
    margin-right: 2%;
  }
  .pane-gallery-menu .view-display-id-block_3 .item-list ul.isotope-container li.isotope-element:nth-child(2n + 2) {
    margin-right: 0;
  }

  .pane-gallery-menu .view-display-id-block_4 .galleryimage img,
  .pane-gallery-menu .view-display-id-block_1 .galleryimage img,
  .pane-gallery-menu .view-display-id-block_2 .galleryimage img,
  .pane-gallery-menu .view-display-id-block_3 .galleryimage img {
    width: 100%;
    height: 105px;
  }

  .view-gallery-menu .isotope-element .views-field.views-field-title {
    height: 52px;
  }

  .view-gallery-menu .isotope-element .views-field .field-content {
    height: 140px;
  }
}
@media screen and (min-width: 300px) and (max-width: 379px) {
  .view-main-gallery .item-list {
    background: none;
    text-align: right;
  }
  .view-main-gallery .item-list .isotope-options {
    width: 167px;
    padding: 20px;
    border: 0;
    text-align: right;
  }

  .page-gallery4 .page-wrapper {
    width: 366px;
    margin: auto;
  }

  .view-display-id-block_2 .galleryimage a,
  .view-display-id-block_4 .galleryimage a,
  .view-display-id-block_1 .galleryimage a,
  .view-display-id-block_3 .galleryimage a {
    height: 167px;
  }

  .pane-gallery-menu .view-display-id-block_4 .item-list ul.isotope-container,
  .pane-gallery-menu .view-display-id-block_1 .item-list ul.isotope-container,
  .pane-gallery-menu .view-display-id-block_2 .item-list ul.isotope-container,
  .pane-gallery-menu .view-display-id-block_3 .item-list ul.isotope-container {
    width: 336px;
  }
  .pane-gallery-menu .view-display-id-block_4 .item-list ul.isotope-container li.isotope-element,
  .pane-gallery-menu .view-display-id-block_1 .item-list ul.isotope-container li.isotope-element,
  .pane-gallery-menu .view-display-id-block_2 .item-list ul.isotope-container li.isotope-element,
  .pane-gallery-menu .view-display-id-block_3 .item-list ul.isotope-container li.isotope-element {
    margin: 0 0 0.25em 0;
    width: 94%;
    margin-right: 3%;
    margin-left: 3%;
  }

  .pane-gallery-menu .view-display-id-block_4 .galleryimage img,
  .pane-gallery-menu .view-display-id-block_1 .galleryimage img,
  .pane-gallery-menu .view-display-id-block_2 .galleryimage img,
  .pane-gallery-menu .view-display-id-block_3 .galleryimage img {
    height: 167px;
  }

  .view-gallery-menu .isotope-element .views-field .field-content {
    height: 70px;
  }

  .view-gallery-menu .isotope-element .views-field.views-field-title {
    height: 52px;
  }
}
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

/*! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */
abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

/*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

/*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
