@import "susy";


$susy: (
 flow: ltr,
 math: fluid,
 output: float,
 gutter-position: after,
 container: 1200px,
 container-position: center,
 columns: 16,/* number of columns */
 gutters: .25, /* gutter size */
 column-width: false,
 global-box-sizing: content-box,
 last-flow: to
);
/* Makes border-box properties */
@include border-box-sizing;


// general website layout

.page-wrapper >{
  .header-top,
  .header,
  .content,
  .footer {
    .region{
      @include container;
    }
  }
}

.page-home .content{
  .region{
    max-width: 100%;
    .pane-{
      &static,
      &gallery-menu,
      &poll-block,
      &about-us,
      &webform-client-block-205{
        @include container;
      }
    }
  }
}

.page-about-us .content{
  .region{
    max-width: 100%;
    .block-{
      &system-main,
      &views{
        @include container;
      }
    }
  }
}
// @mixin two-column-block {
//   .views-row-{
//     &-first{
//       @include breakpoint($mobile) {
//         @include span(16);
//       }
//       @include breakpoint($tablet) {
//         @include span(8);
//       }
//     }
//     &-last {
//       @include breakpoint($mobile) {
//         @include span(16);
//       }
//       @include breakpoint($tablet) {
//         @include span(8 last);
//       }
//     }
//   }
// }


@mixin three-column-block{
  .view-content{
      @include breakpoint($mobile){
        @include span(16);
      }
      @include breakpoint($tablet){
        @include span(14 of 16);
        float: none;
        margin-right:0;
        margin: 0 auto;
      }
      @include breakpoint($desktop){
        @include span(12 of 16);
        float: none;
        margin-right:0;
        margin: 0 auto;
      }
      .col-1-3 {
        @include breakpoint($mobile){
          @include span(16);
        }
        @include breakpoint($tablet){
          @include span(4 of 12);
        }
        &.last{
          @include breakpoint($mobile){
            @include span(16);
          }
          @include breakpoint($tablet){
            @include span(4 last of 12);
          }
        }
      }
    }
}

.page-services {
  .view-display-id-block_1 {
    @include three-column-block;
  }
}


