
$susy: (
 flow: ltr,
 math: fluid,
 output: float,
 gutter-position: after,
 container: 1200px,
 container-position: center,
 columns: 16,/* number of columns */
 gutters: .25, /* gutter size */
 column-width: false,
 global-box-sizing: content-box,
 last-flow: to
);
/* Makes border-box properties */
@include border-box-sizing;


// general website layout
.page-wrapper >{
  .header-top,
  .header,
  .content,
  .footer {
    .region{
      @include container;
    }
  }
}


// Homepage
.page-home .content{
  .region{
    max-width: 100%;
    .pane-{
      &static,
      &gallery-menu,
      &poll-block,
      &about-us,
      &webform-client-block-205{
        @include container;
      }
    }
  }
}

// About Us
.page-about-us .content{
  .region{
    max-width: 100%;
    .block-{
      &system-main,
      &views{
        @include container;
      }
    }
  }
}


.page-services .content {
  .region {
    max-width: 100%;
    .pane-rental-services-block {
      @include container;
    }
  }
}
// @mixin two-column-block {
//   .views-row-{
//     &-first{
//       @include breakpoint($mobile) {
//         @include span(16);
//       }
//       @include breakpoint($tablet) {
//         @include span(8);
//       }
//     }
//     &-last {
//       @include breakpoint($mobile) {
//         @include span(16);
//       }
//       @include breakpoint($tablet) {
//         @include span(8 last);
//       }
//     }
//   }
// }


// Service page
.page-services {
  .view-display-id-block {
    @include four-column-block;
  }
  .view-display-id-block_1 {
    @include three-column-block;
  }
  .view-display-id-block_2 {
    @include two-column-block;
  }
}




// .page-about-us {
//   .view-display-id-block_3 {
//     @include about-us-3-column-block;
//   }
// }
// .page-about-us {
//   .view-display-id-block_2 {
//     @include four-column-block;
//   }
// }

